---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 Pagina no encontrada">
  <div class="flex flex-col justify-center items-center">
    <h1 class="text-white text-3xl text-center mb-4">Esta pagina no existe</h1>
    <img src="https://i.imgflip.com/81m05u.png" style="height: 20rem" />
  </div>
</Layout>
